* {
    font-family: sans-serif;
    list-style-type: none;
}

body {
    overflow: hidden;
    margin: 0%;
    padding: 0%;
}

.App {
    position: absolute;
    background: white;
    background-image: linear-gradient(to bottom right, white 10%, #F6E9F9 50%);
    /* border: 1px solid black; */
    height: 80rem;
    margin: auto;
    top: 0%;
    right: 0%;
    width: 100%;
}

.tags {
    padding-top: 5px;
    padding-left: 5px;
}

.CreateTags {
    outline: 10px solid white;
    width: 35rem;
    height: 13rem;
    background-color: #F6E9F9;
    /* outline-color: 1px solid black; */
    border-radius: 12px;
    box-shadow: -23px 25px 22px 0px rgba(188, 180, 204, 0.32);
    position: relative;
    margin: auto;
    top: 8rem;
}

.add-tags {
    /* border: 1px solid black; */
    padding: 10px 13px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    display: inline-flex;
    flex-wrap: wrap;
}

.add-tags:hover {
    background-color: #8484A4;
    color: white;
}

.remove-tags {
    border-radius: 12px;
    /* border: 1px solid black; */
    font-size: 12px;
    height: 5.5rem;
    width: 32rem;
    margin: auto;
    padding: 20px;
}

.add-btn {
    background: none;
    background-color: #2A325E;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
}


/* searchbar section */

.searchBar {
    position: absolute;
    width: 25rem;
    outline: 10px solid white;
    border-radius: 12px;
    background-color: #F6E9F9;
    left: 50rem;
    top: 25rem;
    margin: auto;
    overflow: scroll;
    height: 21rem;
    box-shadow: -23px 25px 22px 0px rgba(188, 180, 204, 0.32);
}

.input-search {
    width: 25rem;
    height: 4rem;
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    outline: 10px solid white;
    border-radius: 12px;
    z-index: 1;
    background-color: #F6E9F9;
}

.btn {
    padding: 10px;
    border-radius: 8px;
    background: none;
    background-color: #2A325E;
    color: white;
    border: none;
}

input {
    padding: 10px;
    border-radius: 8px;
    margin-right: 5px;
    border: none;
    outline: none;
    background: white;
    padding-left: 5px;
    width: 18rem;
}

.search-parent-list {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.search-list {
    position: relative;
    margin-left: -2.6rem;
    padding: 10px;
    top: 20px;
}

.search-list:hover {
    background-color: #8484A4;
    color: white;
}


/* blogs section */

.blogs {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 10px;
    outline: 10px solid white;
    background-color: #F6E9F9;
    box-shadow: -23px 25px 22px 0px rgba(188, 180, 204, 0.32);
    left: 15rem;
    top: 30rem;
}

.blog-parent-list {
    text-align: start;
}

.post-list {
    margin-left: -2.6rem;
    text-align: start;
    width: 24.5rem;
    padding: 20px 0;
    padding-left: 10px;
}

.post-list:hover {
    background-color: #8484A4;
    color: white;
}

.back-to {
    padding: 10px;
    border-radius: 8px;
    background: none;
    background-color: #2A325E;
    color: white;
    border: none;
    margin-left: 12px;
}